
body {
  background-color: rgb(27, 25, 25);
  color: rgb(235, 229, 235);
}

h1, h4 {
  color: rgb(247, 228, 21);
}

.product-card {
  background-color: #3d3c3c;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05); 
}

.card-img-top {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover .card-img-top {
  transform: scale(1.05); 
}

.card-body {
  background-color: #f7eaea;
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

.card-title, .card-text {
  color: #f029ae;
}

.text-muted {
  color: #d1d1d1;
}
